.navbar.navbar-fixed-bottom.navbar-inverse
  .container
    p.navbar-text.text-center © 2015 - Rails365 Inc. All rights reserved. | 粤ICP备15004902号-2 | <a target="_blank" href="https://ruby-china.org/" rel="nofollow">ruby-china 社区</a> | <a target="_blank" href="http://railscasts.com" rel="nofollow">railscasts视频</a> | <a target="_blank" href="https://github.com/yinsigan/rails365" rel="nofollow">本站源码</a>
