USERNAME: "hfpp2012"
PASSWORD: '12345678'
aliyun_access_id: 'your access id'
aliyun_access_key: 'your access key'
aliyun_bucket: 'your bucket name'
# bucket的位置
aliyun_area: "cn-shenzhen"
# 设置阿里云自定义域名
aliyun_host: "http://aliyun.rails365.net"
