<div class="error-wrap">
    <div class="container">
        <div class="error-box error-500">
            <div class="col-sm-4">
                <i class="icon icon-sad"></i>
            </div>
            <div class="col-sm-8">
                <strong>500，</strong>
                <p>很抱歉，服务器内部错误，页面无法显示！</p>
                <ol>
                    <li>1.您可以 <a href="javascript:history.go(-1);">返回上一个页面</a></li>
                    <li>2.您可以 <a href="/">回到首页</a></li>
                    <!-- <li>3.您可以 <a href="###">尝试刷新</a></li> -->
                </ol>
            </div>
        </div>
    </div>
</div>

