@import "spacelab_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rouge";

$c3:#333;
$c6:#666;
$c9:#999;

.error-wrap{
  border-top: 1px solid #efefef;
  padding: 20px 0;
  .container{
    padding: 130px 0;
    border: 1px solid #efefef;
    background-color: #fff;
  }
}

.error-box{
  width: 460px;
  margin: 0 auto;
  strong{
    font-size: 72px;
    line-height: 1;
  }
  p{
    color: $c6;
    font-weight: bold;

    margin:10px 0 20px;
  }
  li{
    color: $c9;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.error-500{
  strong{
    color: #04adf0;
  }
}

.error-404{
  strong{
    color: #858585;

  }
  em{
    color: #e74141;
  }
  span{
    display: block;
    color: $c6;
  }
  .return{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ececec;
  }
}

.form-horizontal {
  .control-label {
    padding-top: 0;
  }
}
